/Practica1/nbproject/private/
/Practica1/build/
/Practica1/dist/
/Hoja_de_Trabajo_1_201504482/nbproject/private/
/Hoja_de_Trabajo_1_201504482/build/
/Proyecto1_201504482/nbproject/private/
/Proyecto1_201504482/build/
/Proyecto1_201504482/dist/